<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./phpunit.php"
    cacheDirectory="./tests/_output/cache"
    colors="true"
>
    <testsuites>
        <testsuite name="unit tests">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
        </exclude>
    </source>
</phpunit>
