<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="true"
        cacheResult="false"
        bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="MYSQL_TEST_DB_ADAPTER" value="mysql" />
        <env name="MYSQL_TEST_DB_HOST" value="127.0.0.1" />
        <env name="MYSQL_TEST_DB_PORT" value="3306" />
        <env name="MYSQL_TEST_DB_DATABASE" value="phalcon-migrations" />
        <env name="MYSQL_TEST_DB_USER" value="root" />
        <env name="MYSQL_TEST_DB_PASSWORD" value="root" />

        <env name="POSTGRES_TEST_DB_ADAPTER" value="postgresql" />
        <env name="POSTGRES_TEST_DB_HOST" value="127.0.0.1" />
        <env name="POSTGRES_TEST_DB_PORT" value="5432" />
        <env name="POSTGRES_TEST_DB_DATABASE" value="postgres" />
        <env name="POSTGRES_TEST_DB_USER" value="postgres" />
        <env name="POSTGRES_TEST_DB_PASSWORD" value="postgres" />
        <env name="POSTGRES_TEST_DB_SCHEMA" value="migrations" />
    </php>
</phpunit>
